@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

html,
body {
    height: 100%;
    text-rendering: optimizeLegibility;
}
body {
    background-color: $black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

main {
    width: 100%;
    min-height: 75vh;
    padding: 0px 20px;
}

button,
input[type='submit'] {
    cursor: pointer;
}
