.header {
    background-color: $dark-grey;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .header__wrapper {
        padding: 5px 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__logo {
            min-width: 115px;
            a {
                display: flex;
                align-items: center;
                color: white;
                &:visited {
                    color: unset;
                }
            }
            span {
                color: white;
            }
            i {
                color: white;
                font-size: 30px;
                padding-right: 5px;
            }
            &:hover {
                i,
                span {
                    color: $hover;
                }
            }
        }
        .header__search {
            width: 500px;
            min-width: 150px;
            padding: 0px 5px;
            form {
                input {
                    padding: 7px 10px;
                    width: 100%;
                    border-radius: 5px;
                    font-size: 14px;
                    background-color: $black;
                    color: white;
                    font-weight: 500;
                    max-width: none;
                    &::placeholder {
                        color: $blue;
                        font-weight: 300;
                        opacity: 0.7;
                    }
                }
            }
        }
        .header__menu {
            ul {
                min-width: 115px;
                display: flex;
                justify-content: flex-end;
                color: white;
                font-weight: 500;
                text-transform: uppercase;
                li {
                    padding: 4px 8px;
                    &:hover {
                        color: $hover;
                    }
                    a {
                        font-size: 1vw;
                    }
                }

                a:visited {
                    color: unset;
                }
            }
            span {
                // display: flex;
                // justify-content: flex-end;
                i {
                    color: white;
                    font-size: 20px;
                    &:hover {
                        color: $hover;
                    }
                }
            }
        }
    }

    .header__wrapper__toggled {
        display: none;
        width: 100%;
        padding: 5px 5px;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-weight: 500;
            text-transform: uppercase;
            li {
                width: 100%;
                padding: 8px 0px;
                text-align: center;
                a:visited {
                    color: unset;
                }
                &:hover {
                    background-color: $hover;
                    color: $black;
                    border-radius: 4px;
                }
            }
        }
        &.active {
            display: flex;
        }
    }
}
