.videoPlayer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: black;
    &:focus {
        outline: none;
    }

    // &:hover {
    //     .videoPlayer__controls {
    //         opacity: 1;
    //     }
    // }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .videoPlayer__controls {
        opacity: 0;
        transition: opacity 0.4s linear;
        color: white;
        position: absolute;
        z-index: 9;
        bottom: 0px;
        width: 100%;
        height: 8%;
        max-height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 5% 15% 75% 5%;
        grid-template-rows: 15% 85%;
        font-size: 1vw;

        div:not(:first-child) {
            padding-top: 10px;
        }

        .videoPlayer__progress {
            grid-area: 1/1/2/5;
            flex: 10;
            display: flex;
            flex-basis: 100%;
            transition: height 0.3s;
            background: rgba(0, 0, 0, 0.5);
            cursor: pointer;

            .videoPlayer__progress--filled {
                width: 50%;
                background: $hover;
                flex: 0;
                flex-basis: 100%;
            }
        }

        .videoPlayer__play-part {
            grid-area: 2/1/3/2;
            display: flex;
            align-items: center;
            justify-content: center;

            #jsPlayButton {
                width: 2vw;
            }
        }

        .videoPlayer__volume-part {
            grid-area: 2/2/3/3;
            display: flex;
            align-items: center;

            &:hover {
                input {
                    opacity: 1;
                    width: 65%;
                }
            }
            #jsVolumeBtn {
                display: flex;
                width: 30px;
            }
            input {
                --thumbSize: 12px;
                --trackSize: 3px;
                --thumbBg: white;
                --trackBg: grey;
                --progressBg: white;
                --webkitProgressPercent: 0%;
            }

            input {
                opacity: 0;
                -webkit-appearance: none;
                appearance: none;
                height: var(--thumbSize);
                width: 100%;
                min-width: 50px;
                margin: 0;
                padding: 0;
                background-color: unset;
                margin-left: 10px;
            }

            input:focus {
                outline: none;
            }

            input::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: var(--thumbSize);
                height: var(--thumbSize);
                background-color: var(--thumbBg);
                border: none;
                border-radius: calc(var(--thumbSize) / 2);
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                margin-top: calc(
                    ((var(--thumbSize) - var(--trackSize)) / 2) * -1
                );
                cursor: pointer;
            }

            input::-webkit-slider-runnable-track {
                height: var(--trackSize);
                background-image: linear-gradient(
                    90deg,
                    var(--progressBg) var(--webkitProgressPercent),
                    var(--trackBg) var(--webkitProgressPercent)
                );
                // border-radius: calc(var(--trackSize) / 2);
            }
        }

        .videoPlayer__time-part {
            grid-area: 2/3/3/4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .videoPlayer__time {
                font-size: 10px;
                font-weight: 400;
                opacity: 0.8;
                font-family: sans-serif;
            }
        }

        .videoPlayer__screen-part {
            grid-area: 2/4/3/5;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i {
            cursor: pointer;
        }
    }
}
