.search__header {
    color: $black;
    // color: $text_large;
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 30px;
}

.search__videos {
    width: 100%;
    padding: 5px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, auto));
    grid-gap: 20px;
}
