$red: #ff5e57;
$dark-red: #bb2f2a;
$grey: #f5f5f5;
$black: #1e272e;
$dark-grey: #485460;
$hover: #ffc048;

//range custom
// $thumbSize: 18px;
// $trackSize: 8px;
// $thumbBg: #fff;
// $trackBg: #f2f2f2;
// $progressBg: #262626;
// $webkitProgressPercent: 0%;
